*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1200px;

    margin: 0 auto;

    background-color: blueviolet;

    text-align: center;
}

.item_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    width: 100px;
    height: 100px;

    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.red{
    background-color: crimson;
}

.green{
    background-color: greenyellow;
}

.blue{
    background-color: aliceblue;
}